<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>The Greenhouse</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.js'></script>
  <link href='https://api.mapbox.com/mapbox.js/v3.2.1/mapbox.css' rel='stylesheet' />
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v1.5.0/mapbox-gl.css' rel='stylesheet' />
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.4/chroma.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Fredoka+One&display=swap" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <div class="body-background">
      <div class="col-md-12 jumbotron text-center">
        <h1>
          <div class="jumbo-headline">How's the Breathing over there?</div>
        </h1>
        <p>Explore 2013-2018 Ozone and Air Quality Data</p>
      </div>
      <div class="row">
        <div class="col-md-2">
        </div>
        <div class="col-md-11">
          <select id="selDataset" onchange="optionChanged(this.value)"></select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-7">
          <div id="bar"></div>
        </div>
        <div class="col-md-2">
          <h4><b>Top Counties with Best Air Quality</b></h4>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>County</th>
                <th>State</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-1">
        </div>
        <div class="col-md-7">
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-11">
            <div id="bar4"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-11">
            <div id="mapid" style="width: 1000px; height: 800px;"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-1"></div>
          <div class="col-md-11">
            <div id="bar6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>